@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.image-fade-bl {
  mask-image: radial-gradient(ellipse 100% 100% at bottom right, rgba(0,0,0,0.75), rgba(0,0,0,0));
  /* mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75)); */
}